{% extends 'base.html' %}
{% load static %}
{% block title %} Twipee {% endblock %}

{% block content %}    

    {% include "components/tags_nav.html" %}

    <section >
        <div class="container my-5">
            <div class="row gx-5">
            <h1> Tweets with {{ tag }}</h1>

                {% for i in object_list %}
                    {% include 'components/card.html' %}
                {% endfor %}
            </div>

        </div>
        {% if page_obj.paginator.num_pages > 1 %}
            {% include 'components/paginator.html' %}
        {% endif %}
    </section>


{% endblock %}